<appSettings>
  <!-- YAF.NET Settings-->
  <add key="YAF.ConfigPassword" value="pass" />
	<add key="YAF.BoardID" value="1" />
  <add key="YAF.EnableURLRewriting" value="true" />
  <add key="YAF.UrlRewritingFormat" value="advanced" />
  <add key="YAF.URLRewritingMode" value="Unicode" />
  <add key="YAF.UrlRewritingPrefix" value="rap_"/>
  <add key="YAF.UseSMTPSSL" value="false" />  
  <add key="YAF.DatabaseObjectQualifier" value="rap_" />
  <add key="YAF.DatabaseOwner" value="dbo" />
  <add key="YAF.ConnectionStringName" value="rapbattleonline" />
  <add key="YAF.ProviderExceptionXML" value="ProviderExceptions.xml" />
  <add key="YAF.ProviderKeyType" value="System.Guid" />
  <add key="YAF.MobileUserAgents" value="iphone,ipad,midp,windows ce,windows phone,android,blackberry,opera mini,mobile,palm,portable,webos,htc,armv,lg/u,elaine,nokia,playstation,symbian,sonyericsson,mmp,hd_mini"/>
  <add key="YAF.FileRoot" value="~/forum"/>
  <add key="YAF.AppRoot" value="~/forum" />
  <add key="YAF.EnableURLRewriting" value="true" />
  <add key="YAF.BaseUrlMask" value="http://localhost:56314/" />
  <add key="YAF.BaseScriptFile" value="forum.aspx" />
  <add key="YAF.ForceScriptName" value="forum.aspx" />
  <add key="YAF.CompressJSBlocks" value="true" />
  <add key="YAF.CompressCSSBlocks" value="true" />
  <!-- Rap Battle Online Settings -->
  <add key="RAP.Version" value="0.2"/>
  <add key="RAP.VoteDays" value="5"/>
  <add key="RAP.BattleDeadlineDays" value="30"/>
  <add key="RAP.WrittenBattleBarLength" value="50"/>
  <!-- RadEditor configuration settings-->
  <add key="YAF.RadEditorSkin" value="Black"/>
  <add key="YAF.UseRadEditorToolsFile" value="true"/>
  <add key="YAF.RadEditorToolsFile" value="/forum/editors/radEditor/toolsFile.xml" />
  <!--Twitter Integration-->
   <add key="YAF.TwitterConsumerKey" value="yNWTzopPLur5poWJf26Jrn3pf" /> 
   <add key="YAF.TwitterConsumerSecret" value="Ej5sBbmvHUisEsHMRxcu0Mmo6gL2kMXTcDXq2xhuKw5tBw41Ey" />
  <!--Facebook Integration-->
   <add key="YAF.FacebookAPIKey" value="580487972063940" /> 
   <add key="YAF.FacebookSecretKey" value="f288611b68ad19267e78df97f93d2b4d" /> 
  <!--Google Integration-->
 <add key="YAF.GoogleClientID" value="321256601459-em4qea3ji7bvnl5sj9dobapt7ovpveio.apps.googleusercontent.com" /> 
 <add key="YAF.GoogleClientSecret" value="HzpcLds4V-WJeZx3Sjqk0uMF" /> 
</appSettings>
