<connectionStrings>
   <!--For Local DB-->
  <!--<add name="rapbattle" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|Database.mdf;Integrated Security=True;User Instance=False" providerName="System.Data.SqlClient" />--> 
  <!--For Server DB-->
<add name="rapbattleonline" connectionString="" providerName="System.Data.SqlClient"/>
</connectionStrings>
