/*.ui-autocomplete {
    background: #5cb3cf;
    cursor: default;
    position: absolute;
}

html .ui-autocomplete { width: 1px; }

.ui-menu {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 2px;
}

.ui-menu .ui-menu { margin-top: -3px; }

.ui-menu .ui-menu-item {
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    zoom: 1;
}

.ui-menu .ui-menu-item a {
    display: block;
    line-height: 1.5;
    padding: .2em .4em;
    text-decoration: none;
    zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    background: #5cb3cf;
    font-weight: normal;
    margin: -1px;
}*/

.list-item {
    /*border: 1px solid #fff;*/
    /*border-bottom: 1px solid #eeeeee;*/
    color: #555;
    font: normal 11px tahoma, arial, helvetica, sans-serif;
    padding: 3px 10px 3px 10px;
    white-space: normal;
}

.list-item h3 {
    color: #222;
    display: block;
    font: inherit;
    font-weight: bold;
    margin: 0px;
}